<div class="jumbotron">
  <h1><%= userProfile.firstname%>'s Profile</h1>
</div>


  <div class="col s12">
     <h5>Bio: <%= userProfile.bio %></h5>
  </div>


  <div>
      <a href="/post/new" class="btn btn-primary" >post</a>
    </div>


    <% if(userProfile && userProfile.posts) { %>
    <% userProfile.posts.forEach(function(p) { %>
      <div class="well">
        <h3>
          <a href="post/show/<%= p.id %>"><%= p.title %></a>
        </h3>
      <picture>
        <img src="<%= p.pics[0] %>" alt="a pic">
      </picture>
      <p><%= p.caption %></p>
      <p>I'm looking for: <%= p.wants %></p>

    <p>
      <strong><%= moment(p.createdAt).calendar() %></strong>
    </p>

    <% }) %>
  <% } else { %>
    <h3>No posts yet!</h3>
  <% } %>
  </div>
