<div class="jumbotron">
  <h1><%= userProfile.firstname%>'s Profile</h1>
</div>


  <div class="col s12">
     <h5>Bio: <%= userProfile.bio %></h5>
  </div>


  <div>
      <a href="/post/new" class="btn btn-primary" >post</a>
    </div>


    <% if(userProfile && userProfile.posts) { %>
    <% userProfile.posts.forEach(function(p) { %>


      <div class="float">
        <div class="edit">

             <a href="/post/<%=p.id%>">
                 <button type="button" class="btnn">
                      edit
                  </button>
              </a>
                       <h3>
            <a href="post/show/<%= p.id %>"><%= p.title %></a>
          </h3>
        </div>

      <picture>
        <%if (p.pics[0]) { %>
        <img class='pics' src="<%= p.pics[0].file %>" alt="a pic">
        <% } %>
      </picture>
      <p><%= p.caption %></p>
      <p><%= p.wants %></p>
      <% p.tags.forEach(t => { %>
          #<%= t.tag %>
      <% })%>

    <p>
      <strong><%= moment(p.createdAt).calendar() %></strong>
    </p>
      </div>
    <% }) %>
  <% } else { %>
    <h3>No posts yet!</h3>
  <% } %>
