

            <form action="/post/<%=posts.id%>?_method=PUT" method="POST">



              <div class="row">

              <input type="hidden" name="userId" value="<%= user.id %>" >


                <div class="form-group col s4 white" >
                  <label for="title"><strong>Title</strong></label>
                  <input type="text" class="form-control" id="title" name="title" value=' <%=posts.title%> ' required>
                </div>


                <div class="form-group col s6 white"  >
                  <label for="tags"><strong>Tags</strong></label>
                  <input type="text" id='tags' name="tags" class="form-control" >
                </div>



                      <div class="input-field col s8 white">
                          <textarea id="caption" name="caption" class="materialize-textarea" value=''> <%=posts.caption%> </textarea>
                          <label for="caption">Caption</label>
                      </div>


                  <div class="input-field col s8 white">
                      <textarea id="wants" name="wants" class="materialize-textarea" value='  '><%=posts.wants%></textarea>
                      <label for="wants">Wants</label>
                  </div>




              <input type="submit" class="btn btn-primary">

              <form method="POST" action="/post/<%=posts.id%>?_method=DELETE">
                  <input type="submit" class="btn-small red" value="Delete Player">
              </form>
                    </form>
