

<div class="floats">
  <h1><%= p.title %></h1>
  <picture>
  <%if (p.pics[0]) { %>
  <img class='pics' src="<%= p.pics[0].file %>" alt="a pic">
  <% } %>
  </picture>
  <h3><%= p.caption %></h3>
  <h3><%= p.wants %></h3>
  <% p.tags.forEach(t => { %>
  <h3>#<%= t.tag %></h3>
  <% })%>
</div>
