<% if(userProfile && userProfile.posts) { %>
<% userProfile.posts.forEach(function(p) { %>
  <div class="well">
    <h3>
      <h3"> <%= p.title %> </h3>
    </h3>
  <picture>
    <img src="<%= p.pics[0] %>" alt="a pic">
  </picture>
  <p><%= p.caption %></p>
  <p><%= p.wants %></p>
  
<p>
  <strong><%= moment(p.createdAt).calendar() %></strong>
</p>
