<h3>Art for the people!</h3>

<% posts.forEach(function(p) { %>

    <!-- <div class="row"> -->
      <div class="float">
        <h3>
          <a href="post/show/<%= p.id %>"><%= p.title %></a>
        </h3>
      <picture>
        <%if (p.pics[0]) { %>
        <img class='pics' src="<%= p.pics[0].file %>" alt="a pic">
        <% } %>
      </picture>
      <p><%= p.caption %></p>
      <p>I'm looking for: <%= p.wants %></p>

      <% p.tags.forEach(t => { %>
          #<%= t.tag %>
      <% })%>
    </div>

  <!-- </div> -->


    <% }) %>
