

<% posts.forEach(function(p) { %>

    <!-- <div class="row"> -->
      <div class="float">
        <h3>
          <a href="post/show/<%= p.id %>"><%= p.title %></a>
        </h3>

      <div class="pictures">
        <%if (p.pics[0]) { %>
        <img class='pics' src="<%= p.pics[0].file %>" alt="a pic">
        <% } %>
      </div>


      <p><%= p.caption %></p>
      <p><%= p.wants %></p>

      <% p.tags.forEach(t => { %>
          #<%= t.tag %>
      <% })%>
    </div>

  <!-- </div> -->


    <% }) %>
